<!-- sharedはrails全般の習慣として、複数のビューで使われるパーシャルを置くのに使われる 
        エラーメッセージを表示するページの作成 -->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
